<form name="stock-form" (ngSubmit)="addConsomme()" #f="ngForm" class="form-stock">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Aliments consommés" name="value" [(ngModel)]="modelConsomme.value" type="number" #value="ngModel" required>
  </md-input-container>
  <p>
    <button md-raised-button color="primary" [disabled]="f.form.invalid">Ajouter</button>
  </p>
</form>
<form name="stock-form" (ngSubmit)="addRestant()" #f1="ngForm" class="form-stock">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Aliments restants" name="value" [(ngModel)]=" modelRestant.value" type="number" #value="ngModel" required>
  </md-input-container>
  <p>
    <button md-raised-button color="primary" [disabled]="f1.form.invalid">Ajouter</button>
  </p>
</form>
<form name="stock-form" (ngSubmit)="addPrec()" #f2="ngForm" class="form-stock">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Aliments pour le lot précédent" name="value" [(ngModel)]="modelPrec.value" type="number" #value="ngModel" required>
  </md-input-container>
  <p>
    <button md-raised-button color="primary" [disabled]="f2.form.invalid">Ajouter</button>
  </p>
</form>
<md-list *ngIf="stock">
  <h3 md-subheader>Stock des Aliments</h3>
  <md-list-item *ngIf="stock.lotPrecedent">
    <md-icon md-list-icon>view_day</md-icon>
    <h4 md-line>Stock lot précédent</h4>
    <p md-line>  {{stock.lotPrecedent}}</p>
  </md-list-item>
  <md-list-item *ngIf="stock.totalConsomme">
    <md-icon md-list-icon>view_day</md-icon>
    <h4 md-line>Stock total consommé</h4>
    <p md-line> {{stock.totalConsomme}} </p>
  </md-list-item>
  <md-list-item *ngIf="stock.stockRestant">
    <md-icon md-list-icon>view_day</md-icon>
    <h4 md-line>Stock restant</h4>
    <p md-line> {{stock.stockRestant}}  </p>
  </md-list-item>
</md-list>
