<div class="livraison">
  <form name="livraison-form" (ngSubmit)="addLivraison()" #f="ngForm" >

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width" id="date-livraison">
            <input mdInput placeholder="date" name="date" [(ngModel)]="dateLivraison" type="date" #date="ngModel" required>
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Quantité" name="quantite" [(ngModel)]="model.quantitee" type="number" #quantitee="ngModel" required>
          </md-input-container>
        </td>
      </tr>
    </table>

    <p>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Désignation" name="designation" [(ngModel)]="model.designation" #designation="ngModel" required>
      </md-input-container>
    </p>
    <p>
      <button md-raised-button color="primary" [disabled]="f.form.invalid">Ajouter une ligne de livraison</button>
    </p>
  </form>

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
      <th>Date</th>
      <th>Quantité</th>
      <th>Désignation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let livraison of livraisons">
      <td>{{livraison.date}}</td>
      <td>{{livraison.quantitee}}</td>
      <td>{{livraison.designation}}</td>
    </tr>
    </tbody>
  </table>
</div>
