<div class="login">
  <md-card class="example-card">
    <div class="header">
      <h5 class="title">Connexion</h5>
    </div>
    <md-card-content>
      <form name="login-form" (ngSubmit)="login()" #f="ngForm" >
        <p>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Nom d'utilisateur" name="username" [(ngModel)]="model.username" #username="ngModel" required>
          </md-input-container>
        </p>
        <p>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Mot de passe" name="password" [(ngModel)]="model.password" #password="ngModel" type="password" required>
          </md-input-container>
        </p>
        <button md-raised-button color="primary" [disabled]="f.form.invalid">Se connecter</button>
      </form>
      <md-card-actions>
        <p>
          <a md-button [routerLink]="['/register']">S'inscrire</a>
        </p>
      </md-card-actions>
    </md-card-content>

  </md-card>
  <md-card>

  </md-card>
</div>
