.example-container {
  height: 100vh;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.header {
  background-color: #3f51b5;
  height: 70px;
  color: white;
  text-align: center;
  background-size: cover;
}

.header .title {
  padding-top: 25px;
}

.mat-card {
  padding: 0;
}

.mat-card-content {
  padding: 24px;
}

.example-card {
  width: 500px;
}
