<div class="subscribe">
  <md-card *ngIf="!isLoading">
    <div class="header">
      <h5 class="title">Inscription</h5>
    </div>
    <md-card-content>
    <form name="login-form" (ngSubmit)="register()" #f="ngForm" >
      <p>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Nom d'utilisateur" name="username" [(ngModel)]="model.username" #username="ngModel" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Mot de passe" name="password" [(ngModel)]="model.password" type="password" #password="ngModel" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Role"  name="role" [(ngModel)]="model.role" #role="ngModel" required>
        </md-input-container>
      </p>
      <button md-raised-button color="primary" [disabled]="f.form.invalid">S'inscrire </button>
    </form>
      <md-card-actions>
        <p>
          <a md-button [routerLink]="['/login']">Se connecter</a>
        </p>
      </md-card-actions>
    </md-card-content>
  </md-card>
  <div class="spinner">
    <md-spinner class="app-spinner" *ngIf="isLoading"></md-spinner>
  </div>

</div>
