<div class="mortalite">
  <form name="mortalite-form" (ngSubmit)="addMortalite()" #f="ngForm" >

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Age" name="age" [(ngModel)]="model.age" type="number" #age="ngModel" required>
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Nombre de morts" name="nbMort" [(ngModel)]="model.nbMort" type="number" #age="ngModel" required>
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width" id="date-mortalite">
            <input mdInput placeholder="date" name="date" [(ngModel)]="dateMortalite" type="date" #date="ngModel" required>
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Sexe" [(ngModel)]="model.sexe" name="sexe" id="sexe-mortalite" required>
            <md-option *ngFor="let sexe of sexes" [value]="sexe.value">
              {{sexe.viewValue}}
            </md-option>
          </md-select>
        </td>
      </tr>
    </table>

    <p>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Observation" name="obs" [(ngModel)]="model.obs" #obs="ngModel" required>
      </md-input-container>
    </p>
    <p>
      <button md-raised-button color="primary" [disabled]="f.form.invalid" >Ajouter une ligne de mortalité</button>
    </p>
  </form>

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
      <th>Age</th>
      <th>Date</th>
      <th>Sexe</th>
      <th>Nombre de morts</th>
      <th>Observation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let mortalite of mortalites">
      <td>{{mortalite.age}}</td>
      <td>{{mortalite.date}}</td>
      <td *ngIf="mortalite.sexe === 0">MALE</td>
      <td *ngIf="mortalite.sexe === 1">FEMELLE</td>
      <td>{{mortalite.nbMort}}</td>
      <td>{{mortalite.obs}}</td>
    </tr>
    </tbody>
  </table>
</div>
