.example-container {
  height: 100vh;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.app-content {
  padding: 50px;
}

.mat-sidenav-transition .mat-sidenav {
  background-color: #FAFAFA;
}
