<div>

<!--<sidebar></sidebar>--->
  <md-sidenav-container>
    <md-sidenav  #sidenav mode="side" opened="false">
      <md-nav-list>
        <md-list-item >
          <a md-line [routerLink]="['/mortalite']" (click)="sidenav.toggle()">Mortalite</a>
        </md-list-item>
        <md-list-item >
          <a md-line [routerLink]="['/livraison']" (click)="sidenav.toggle()">Livraison</a>
        </md-list-item>
        <md-list-item >
          <a md-line [routerLink]="['/stock']" (click)="sidenav.toggle()">Stock</a>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary">
      <button md-icon-button  *ngIf="isConnected()" (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <button md-icon-button  *ngIf="isConnected()" (click)="logout(); sidenav.toggle()" [routerLink]="['/login']">
        <md-icon>exit_to_app</md-icon>
      </button>
    </md-toolbar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
    <!-- primary content -->
  </md-sidenav-container>
</div>
<!--<router-outlet></router-outlet>--->
